.page-header
  %h3.text-muted Tasks that are not assigned to any board are listed here
%p
  These tasks seemed to be newly imported from GitLab;
  or you just decided to remove them from your board.
%p
  However, you can - and should - reassign them to a existing board.
.containter
  .col.s12
    %ul.tabs
      %li.tab.col.s6
        %a.blue-text.text-darken-2.active{href: '#unassigned'} Unassigned
      %li.tab.col.s6
        %a.blue-text.text-darken-2{href: '#closed'} Closed
  .col.s12#unassigned
    - @tasks_unassigned.each_slice(4) do |tasks|
      .row
        - tasks.each do |task|
          .col.s3
            = render partial: 'shared/task_card', locals: {task: task, animate: 0}
  .col.s12#closed{style: 'height: 100%;'}
    - @tasks_closed.each_slice(4) do |tasks|
      .row
        - tasks.each do |task|
          .col.s3
            = render partial: 'shared/task_card', locals: {task: task, animate: 0}
