- @board.columns.each do |column|
  - column.tasks.each do |task|
    = render partial: 'shared/task_modal', locals: { task: task }
#board
  .center
    %h5.white-text
      %i.fa.fa-circle-o-notch.fa-spin.fa-fw
      Loading Board
