/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_self
 */
@import "materialize";
@import 'font-awesome';
@import 'dragula';
body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}
main {
  flex: 1 0 auto;
}

.drag {
  min-height: 50px;
}
.card .card-title {
  font-size: 14px;
}
.card .card-content {
  padding: 0px 5px 2px 5px;
}

.card .card-content .card-title {
  line-height: inherit;
}

.card .card-action {
  padding: 5px;
  border-top: 2px dotted;
}
.card-action .chip {
  font-size: 10px;
}

#toast-container {
  position: absolute;
  top: auto;
  bottom: 20px;
  right: 20px;
}

.card.gu-mirror .card-action .truncate {
  margin: 0
}

#col-0 .gu-transit {
  display: none;
}

#board > .row > .col {
  padding: 4px;
}
