/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_self
 */
@import "materialize";
@import 'font-awesome';
@import 'animate';
body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}
main {
  flex: 1 0 auto;
}

.board_flex {
  display: flex;
  flex-direction: row;
}

.board_column {
  flex: 1 1;
  margin: 5px;
  min-width: 0;
}

.drag {
  height: 80%;
  overflow-y: scroll;
  min-height: 50px;
}

.drag::-webkit-scrollbar { width: 0 !important }

.card .card-title {
  font-size: 18px;
  margin: 0px -8px;
  padding: 0px 8px;
}
.card .card-content {
  padding: 0px 8px 0px 8px;
}

.card .card-content .card-title {
  line-height: inherit;
}

.card .card-content .card-action {
  position: relative;
}

.card .card-content .card-action .badge {
  position: absolute;
  right: 4px;
  top: 5px;
}

.task_label {
  display: inline;
  padding: 2px 4px;
  font-size: 12px;
}

.card .card-action {
  padding: 5px;
  border-top: 1px solid;
}
.card-action .chip {
  font-size: 10px;
}

#toast-container {
  position: absolute;
  top: auto;
  bottom: 20px;
  right: 20px;
}

.card.gu-mirror .card-action .truncate {
  margin: 0
}

#col-0 .gu-transit {
  display: none;
}

#board > .row > .col {
  padding: 4px;
}

.tabs .indicator {
  background-color: #f44336;
}

.gu-hide {
  display: none !important;
}
.gu-unselectable {
  -webkit-user-select: none !important;
  -moz-user-select: none !important;
  -ms-user-select: none !important;
  user-select: none !important;
}
.gu-transit {
  opacity: 0.2;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=20)";
  filter: alpha(opacity=20);
}
